/* main stylesheet */
/* Wave 1 */

article{
  border: 2px black solid;
  background-color: aliceblue;
  margin: 0 1rem 1rem 0;
}

div{
  display: inline-block;
  width: 70%;
}

aside#top-cats{
  display: inline-block;
  border: 1px black solid;
  position: absolute;
  background-color: PaleGoldenRod;
  margin-right: 2px;
}

#top-cats section{
  border: 1px black solid;
}
