/* profile stylesheet */
/* Wave 3 */

section{
  border: 1px black solid;
  background-color: AliceBlue;
}


article{
  display: inline-block;
  border: 1px black solid;
  background-color: SkyBlue;
  margin-left: 4px;
  margin-bottom: 1rem;
  width: 30%;
  text-align: center;
}

.catname{
  text-align: center;
}

.catimg{
  border-radius: 50%;
  margin-left: 1rem;
  display: inline-block;
  align-items: flex-end;
  margin-bottom: -2.5rem;
}

.memberwrap{
  border: 1px black solid;
  text-align: left;
}

.member{
  display: inline-block;
  margin-bottom: 0;
  margin-left: 20rem;
}
